html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}

.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  background-color: rgb(146, 59, 187);
}

.navlistleft {
  justify-self: start;
}

.navlistright {
  justify-self: end;
}

.navlistlink {
  display: block;
  text-align: center;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navlistitem a:hover {
  background-color: #111;
}
