* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0%;
}

nav {
    width: 100%;
    height: 5ch;
    background-color: blueviolet;
    align-items: center;
    display: flex;
}

nav * {
    display: flex;
}

nav * a {
    color: white;
    height: 100%;
}

nav * a:visited {
    color: white;
    height: 100%;
}

nav .left {
    justify-content: left;
    width: 50%;
}

nav .right {
    justify-content: right;
    width: 50%;
}

.pad-left-1ch {
    padding-left: 1ch;
}

.pad-right-1ch {
    padding-right: 1ch;
}

code {
    font-family: monospace;
}

a {
    color: #000;
}

a:visited {
    color: #444;
}

.body {
    padding-right: 5ch;
    padding-left: 5ch;
    padding-top: 2ch;
}

.root-game-card {
    padding-left: 1ch;
    padding-right: 1ch;
}

.coverart-anchor {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    align-items: center;
}

.coverart-tag {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.coverart-img {
    border: 2px solid #000;
}

.codeblock {
    background-color: #DDD;
    font-family: monospace;
    padding: 1ch;
    border-radius: 10px;
    white-space: pre-wrap;
}

.forum-posts {
    display: flex;
}

.forum-post-card {
    width: 10vw;
    text-decoration: none;
    margin-top: 2ch;
    margin-bottom: 2ch;
    margin-left: 2ch;
    margin-right: 2ch;
    padding-top: 1ch;
    padding-bottom: 1ch;
    padding-left: 1ch;
    padding-right: 1ch;
    border-style: groove;
    border-radius: 5px;
}
