{% extends "base.jinja" %}
{% block title %}{{ gettrans(lang=language, key="401.title") }}{% endblock title %}
{% block body %}
{{ gettrans(lang=language, key="401.message") }}
<br>
{{ gettrans(lang=language, key="401.joke") }}
{% endblock body %}