{% extends "base.jinja" %}
{% block extraheaders %}{% endblock extraheaders %}
{% block title %}not found{% endblock title %}
{% block body %}
{{ gettrans(lang=language, key="404.message") }}
<br>
{{ gettrans(lang=language, key="404.joke") }}
{% endblock body %}