<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>{{ gettrans(lang=language, key="base.name") }} - {% block title %}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{% endblock description %}" />
    <link rel="preconnect" href="{{ user_content_url }}" />
    <link rel="stylesheet" href="{{ stylesheet_url }}">
    <link rel="icon" href="{{ favicon_url }}" type="image/svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if logged_in_user and logged_in_user.stylesheet and not custom_styles_disabled %}
    {% set userlinks = getuserlinks(user=logged_in_user) %}
    <link rel="stylesheet" href="{{ userlinks.stylesheet_url }}">
    {% endif %}
    {% block extraheaders %}{% endblock extraheaders %}
</head>

<body>
    <nav>
        <div class="left">
            <a href="{{ root_url }}" class="pad-left-1ch">{{ gettrans(lang=language, key="base.name") }}</a>
        </div>
        <div class="right">
            {% if logged_in_user %}
            <a href="{{ root_url }}/logout" class="pad-right-1ch">{{ gettrans(lang=language, key="base.logout") }}</a>
            <a href="{{ root_url }}/settings" class="pad-right-1ch">{{ gettrans(lang=language, key="base.settings") }}</a>
            {% else %}
            <a href="{{ root_url }}/login" class="pad-right-1ch">{{ gettrans(lang=language, key="base.login") }}</a>
            <a href="{{ root_url }}/signup" class="pad-right-1ch">{{ gettrans(lang=language, key="base.signup") }}</a>
            {% endif %}
        </div>
    </nav>
    <div class="body">
        {% if devmode() -%}
        <details>
            <summary>tera context</summary>
            <div class="codeblock">{{ __tera_context }}</div>
        </details>
        {% endif %}
        {% block body %}{% endblock body %}
    </div>
</body>

</html>