<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>gettrans(lang=language, key="name") - {% block title %}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{% endblock description %}" />
    <link rel="stylesheet" href="{{ cdn_url }}/public/style.css">
    <link rel="icon" href="{{ cdn_url }}/public/favicon.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if logged_in_user and logged_in_user.has_custom_stylesheet %}
    <link rel="stylesheet" href="{{ cdn_url }}/customfiles/users/{{ logged_in_user.id }}/style.css">
    {% endif %}
    {% block extraheaders %}
    {% endblock %}
</head>

<body>
    <nav>
        <div class="left">
            <a href="{{ root_url }}" class="pad-left-1ch">{{ gettrans(lang=language, key="name") }}</a>
        </div>
        <div class="right">
            {% if logged_in_user %}
            <a href="{{ root_url }}/logout" class="pad-right-1ch">{{ gettrans(lang=language, key="logout") }}</a>
            <a href="{{ root_url }}/settings" class="pad-right-1ch">{{ gettrans(lang=language, key="settings") }}</a>
            {% else %}
            <a href="{{ root_url }}/login" class="pad-right-1ch">{{ gettrans(lang=language, key="login") }}</a>
            <a href="{{ root_url }}/signup" class="pad-right-1ch">{{ gettrans(lang=language, key="signup") }}</a>
            {% endif %}
        </div>
    </nav>
    <div class="body">
        {% if devmode() %}
        <details>
            <summary>tera context</summary>
            <div class="codeblock">{{ __tera_context }}</div>
        </details>
        {% endif %}
        {% block body %}{% endblock body %}
    </div>
</body>

</html>