{% extends "base.jinja" %}
{% block extraheaders %}{% endblock extraheaders %}
{% block title %}{{ gettrans(lang=language, key="category.title") }}{% endblock title %}
{% block body %}
<a href="{{ root_url }}/forum/{{ game.slug }}">{{ gettrans(lang=language, key="category.discuss.forum") }}{</a>
<div class="game-categories">
{% for minicat in categories %}
<a href="{{ root_url }}/game/{{ game.slug }}/category/{{ minicat.id }}" class="">{{ minicat.name }}</a>
{% endfor %}
</div><a href="{{ root_url }}/game/{{ game.slug }}/category/{{ category.id }}/run/new">submit run</a>
{% if runs | length <= 0 %}
<p>{{ gettrans(lang=language, key="category.empty") }}</p>
{% else %}
<table>
    <tr>
        <th>{{ gettrans(lang=language, key="category.submitter") }}</th>
        {% if run.category.scoreboard %}
        <th>{{ gettrans(lang=language, key="category.scoreboard") }}</th>
        {% else %}
        <th>{{ gettrans(lang=language, key="category.time") }}</th>
        {% endif %}
        <th>{{ gettrans(lang=language, key="category.link") }}</th>
    </tr>
    {% for run in runs %}
    <tr>
        <td><a href="{{ root_url }}/user/{{ run.submitter.username }}">{{ run.submitter.username }}</a></td>
        {% if run.category.scoreboard %}
        <td>{{ run.score }}</td>
        {% else %}
        <td>{{ run.time | duration }}</td>
        {% endif %}
        <td><a href="{{ root_url }}/game/{{ game.slug }}/category/{{ run.category.id }}/run/{{ run.id }}">{{ gettrans(lang=language, key="category.link.view") }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock body %}