{% extends "base.jinja" %}
{% block extraheaders %}{% endblock extraheaders %}
{% block title %}submit a new run{% endblock title %}
{% block body %}
<h1>submit new run</h1>
<form method="post">
    <table>
        <tr>
            <td><label for="video">video url</label></td>
            <td><input name="video" id="video" maxlength="256" minlength="1" type="url" required /></td>
        </tr>
        <tr>
            <td><label for="description">description of this run</label></td>
            <td><textarea name="description" id="description" maxlength="4000"></textarea></td>
        </tr>
        {% if category.scoreboard %}
        <tr>
            <td><label for="score">game score</label></td>
            <td><input name="score" id="score" type="number" value="0" required/></td>
        </tr>
        {% else %}
        <tr>
            <td><label>time</label></td>
            <td>
            <input name="hours" id="hours" type="number" value="0" required/>
            <label for="hours">h</label>
            <input name="minutes" id="minutes" type="number" max="60" value="0" required/>
            <label for="minutes">m</label>
            <input name="seconds" id="seconds" type="number" max="60" value="0" required/>
            <label for="seconds">s</label>
            <input name="milliseconds" id="milliseconds" type="number" max="1000" value="0" required/>
            <label for="milliseconds">ms</label>
            </td>
        </tr>
        {% endif %}
    </table>
    <button>submit!</button>
</form>
{% endblock body %}