{% extends "base.jinja" %}
{% block title %}{{ gettrans(lang=language, key="edit_game.title", name=game.name) }}{% endblock title %}
{% block body %}
<h2>{{ gettrans(lang=language, key="edit_game.heading", name=game.name) }}</h2>
<h3>{{ gettrans(lang=language, key="edit_game.categories.heading") }}</h3>
<table>
    {% for category in categories %}
    {% if game.default_category == category.id %}
    <tr>
        <td><strong>{{ gettrans(lang=language, key="edit_game.categories.default", name=category.name) }}</strong></td>
    </tr>
    {% else %}
    <tr>
        <td>
            <form action="{{ root_url }}/game/{{ game.slug }}/category/{{ category.id }}/edit/makedefault" method="post">
                {{ gettrans(lang=language, key="edit_game.categories.list_name", name=category.name) }}
                <button>{{ gettrans(lang=language, key="edit_game.categories.make_default") }}</button>
                <a href="/game/{{ game.slug }}/category/{{ category.id }}/edit"><button type="button">{{ gettrans(lang=language, key="edit_game.categories.edit") }}</button></a>
                <a href="/game/{{ game.slug }}/category/{{ category.id }}/edit/delete">
") }}</button>
                </a>
            </form>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
<h3>{{ gettrans(lang=language, key="edit_game.categories.create_new") }}</h3>
<form action="{{ root_url }}/game/{{ game.slug }}/edit/new-category" method="post">
    <table>
        <tr>
            <td><label for="name">{{ gettrans(lang=language, key="edit_game.categories.new.name") }}</label></td>
            <td><input name="name" id="name" maxlength="128"></td>
        </tr>
        <tr>
            <td><label for="description">{{ gettrans(lang=language, key="edit_game.categories.new.description") }}</label></td>
            <td><textarea name="description" id="description" rows="10" cols="40" maxlength="4000"></textarea></td>
        </tr>
        <tr>
            <td><label for="rules">{{ gettrans(lang=language, key="edit_game.categories.new.rules") }}</label></td>
            <td><textarea name="rules" id="rules" rows="10" cols="40" maxlength="20000"></textarea></td>
        </tr>
        <tr>
            <td><label for="scoreboard">{{ gettrans(lang=language, key="edit_game.categories.new.scoreboard") }}</label></td>
            <td><input name="scoreboard" id="scoreboard" type="checkbox" value="true" /></td>
        </tr>
    </table>
    <button>{{ gettrans(lang=language, key="edit_game.categories.new.submit") }}</button>
</form>

{% endblock body %}