{% extends "base.jinja" %}
{% block extraheaders %}{% endblock extraheaders %}
{% block title %}edit game{% endblock title %}
{% block body %}
<h2>{{ game.name }} game settings</h2>
<h3>id {{ game.id }}, </h3>
<h3>categories</h3>
{% for category in categories %}
    {% if game.default_category == category.id %}
        <strong>{{ category.name }} (default)</strong>
    {% else %}
        {{ category.name }} <button>Make Default</button>
        <form action="/game/{{ game.slug }}/edit/set-default-category/{{ category.id }}" method="post">
        <button>make default</button>
        </form>
        <form action="/game/{{ game.slug }}/edit/delete-category/{{ category.id }}" method="post">
        <button>delete</button>
        </form>
    {% endif %}
{% endfor %}
<h2>create new category</h2>
<form action="/game/{{ game.slug }}/edit/new-category" method="post">
    <table>
        <tr>
            <td><label for="name">category name</label></td>
            <td><input name="name" id="name" maxlength="128"></td>
        </tr>
        <tr>
            <td><label for="description">category description</label></td>
            <td><textarea name="description" id="description" maxlength="4000"></textarea></td>
        </tr>
        <tr>
            <td><label for="rules">category rules</label></td>
            <td><textarea name="rules" id="rules"></textarea></td>
        </tr>
        <tr>
            <td><label for="scoreboard">sort by score rather then time</label></td>
            <td><input name="scoreboard" id="scoreboard" type="checkbox" value="true"/></td>
        </tr>
    </table>
    <button>submit!</button>
</form>
{{ __tera_context }}
{% endblock body %}