{% extends "base.jinja" %}
{% block extraheaders %}{% endblock extraheaders %}
{% block title %}error{% endblock title %}
{% block body %}
<p>Oops, we encountered an error:</p>
<code>{{ error }}</code>
{% endblock body %}