{% extends "base.jinja" %}
{% block extraheaders %}{% endblock extraheaders %}
{% block title %}error{% endblock title %}
{% block body %}
<p>oops, we encountered an error:</p>
<code>{{ error }}</code>
<p><a href="https://github.com/randomairborne/speederboard/issues/new?assignees=&labels=&projects=&template=bug_report.md&title=">make a bug report?</a></p>
{% endblock body %}