{% extends "base.jinja" %}
{% block title %}{{ gettrans(lang=language, key="forum.title", game=game.name) }}{% endblock title %}
 {% block body %}
<div class="forum-header">
<h1>{{ gettrans(lang=language, key="forum.heading", game=game.name) }}</h1>
<a href="{{ root_url }}/forum/{{ game.slug }}/new">{{ gettrans(lang=language, key="forum.new_post") }}</a>
</div>
<div class="forum-posts">
{% for post in posts %}
<a class="forum-post-card" href="{{ root_url }}/forum/{{ game.slug }}/post/{{ post.id }}">
    {% set userlinks = getuserlinks(user=post.author) %}
    <img class="forum-post-card-author-img" src="{{ userlinks.pfp_url }}">
    {{ post.title }}
    <hr>
    {{ post.content | truncate(length=100) | markdown }}
</a>
{% endfor %}
</div>
{% endblock body %}