{% extends "base.jinja" %}
{% block extraheaders %}{% endblock extraheaders %}
{% block title %}game{% endblock title %}
{% block body %}
<table>
    <tr>
        <th>user</th>
        <th>time</th>
        <th>score</th>
    </tr>
    {% for run in runs %}
    <tr>
        <td>{{ run.submitter_name }}</td>
        <td>{{ run.time }}</td>
        <td>{{ run.score }}</td>

    </tr>
    {% endfor %}
</table>
{{ __tera_context }}
{% endblock body %}