{% extends "base.jinja" %}
{% block extraheaders %}{% endblock extraheaders %}
{% block title %}game{% endblock title %}
{% block body %}
<table>
    <th>
    <td></td>

    </th>
    {% for run in runs %}
    <tr>
        <td></td>
    </tr>
    {% endfor %}
</table>
{{ __tera_context }}
{% endblock body %}