{% extends "base.jinja" %}
{% block title %}{{ gettrans(lang=language, key="game_team.title", game=game.name) }}{% endblock title %}
{% block body %}
<div class="team-list-header">
<h1>{{ gettrans(lang=language, key="game_team.heading", game=game.name) }}</h1>
</div>
<div class="team-list">
<ul>
{% for member in members %}
<li>
    {# TODO: Figure out how to translate permissions #}
    {{ member.name }} {{ member.perms }}
</li>
{% endfor %}
</div>
</ul>
{% endblock body %}