{% extends "base.jinja" %}
{% block title %}{{ gettrans(lang=language, key="index.title") }}{% endblock title %}
{% block body %}
<h3>{{ gettrans(lang=language, key="index.intro") }} <a href="mailto:valk@randomairborne.dev">valk&commat;randomairborne.dev</a>.</h3>
<div class="game-list">
{% for game in games %}
<div class="root-game-card">
    {% set gamelinks = getgamelinks(game=game) %}
    <a href="{{ root_url }}/game/{{ game.slug }}" class="coverart-anchor">
        <img src="{{ gamelinks.cover_art_url }}" alt="{{ gettrans(lang=language, key="index.coverart", game=game.name) }}" width="180" height="240" class="coverart-img"/>
        <div class="coverart-tag">{{ game.name }}</div>
    </a>
</div>
{% endfor %}
</div>
{% endblock body %}