{% extends "base.jinja" %}
{% block extraheaders %}{% endblock extraheaders %}
{% block title %}speedruns and game leaderboards{% endblock title %}
{% block body %}
<h3>welcome. speederboard is a free and open-source project to create an improved speedrun and leaderboard tracking website.
check out our current games below, or request a new one by emailing <a href="mailto:valk@randomairborne.dev">valk&commat;randomairborne.dev</a>.</h3>
{% for game in games %}
<div class="root-game-card">
    <a href="{{ root_url }}/game/{{ game.slug }}" class="coverart-anchor">
        {% if game.cover_art_ext %}
        <img src="{{ cdn_url }}/customfiles/games/{{ game.id }}/coverart.png" width="180" height="240" class="coverart-img"/>
        {% else %}
        <img src="{{ cdn_url }}/public/default-coverart.png" width="180" height="240" class="coverart-img" />
        {% endif %}
        <div class="coverart-tag">{{ game.name }}</div>
    </a>
</div>
{% endfor %}
{% endblock body %}