{% extends "base.jinja" %}
{% block extraheaders %}{% endblock extraheaders %}
{% block title %}speedruns and game leaderboards{% endblock title %}
{% block body %}
welcome. speederboard is a free and open-source project to create an improved speedrun and leaderboard tracking website.
{% for game in games %}
<div class="root-game-card">
    <a href="{{ root_url }}/game/{{ game.slug }}">
        {% if game.cover_art_ext %}
        <img src="{{ cdn_url }}/customfiles/games/{{ game.id }}/coverart.png" />
        {% else %}
        <img src="{{ cdn_url }}/static/default-coverart.png" />
        {% endif %}
    </a>
</div>
{% endfor %}
{% endblock body %}