{% extends "base.jinja" %}
{% block extraheaders %}{% endblock extraheaders %}
{% block title %}game{% endblock title %}
{% block body %}
<br>
<table>
    <tr>
        <th>user</th>
        {% if run.category.scoreboard %}
        <th>score</th>
        {% else %}
        <th>time</th>
        {% endif %}
        <th>link</th>
    </tr>
    {% for run in submissions %}
    <tr>
        <td><a href="{{ root_url }}/user/{{ run.submitter.username }}">{{ run.submitter.username }}</a></td>
        {% if run.category.scoreboard %}
        <td>{{ run.score }}</td>
        {% else %}
        <td>{{ run.time | duration }}</td>
        {% endif %}
        </td>
        <td><a href="{{ run.video }}">{{ run.video }}</a></td>
    </tr>
    {% endfor %}
</table>
{{ __tera_context }}
{% endblock body %}