{% extends "base.jinja" %}
{% block title %}game{% endblock title %}
{% block body %}
{% if submissions | length <= 0 %}
<p>the queue for this leaderboard is empty  . thank you for moderating!</p>
{% else %}
<br>
<table>
    <tr>
        <th>user</th>
        {% if run.category.scoreboard %}
        <th>score</th>
        {% else %}
        <th>time</th>
        {% endif %}
        <th>link</th>
        <th>view</th>
        <th>status</th>
    </tr>
    {% for run in submissions %}
    <tr>
        <td><a href="{{ root_url }}/user/{{ run.submitter.username }}">{{ run.submitter.username }}</a></td>
        {% if run.category.scoreboard %}
        <td>{{ run.score }}</td>
        {% else %}
        <td>{{ run.time | duration }}</td>
        {% endif %}
        </td>
        <td><a href="{{ run.video }}" target="_blank" rel="noopener noreferrer">{{ run.video }}</a></td>
        <td><a href="{{ root_url }}/game/{{ game.slug }}/category/{{ run.category.id }}/run/{{ run.id }}/review"
                target="_blank" , rel="noopener noreferrer">view</a></td>
        <td>
            {%- if run.status == 1 -%}
            approved
            {%- elif run.status == 0 -%}
            pending verification
            {%- else -%}
            denied.
            {%- endif -%}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock body %}