{% extends "base.jinja" %}
{% block title %}{{ gettrans(lang=language, key="new_post.title", game=game.name) }}{% endblock title %}
{% block body %}
<h1>{{ gettrans(lang=language, key="new_post.heading", game=game.name) }}</h1>
<form method="POST">
<input id="title" name="title" maxlength="128"/>
<br>
<textarea maxlength="4000" name="content" id="content"></textarea>
<br>
<button>{{ gettrans(lang=language, key="new_post.submit") }}</button>
</form>
{% endblock body %}