{% extends "base.jinja" %}
{% block title %}{{ gettrans(lang=language, key="notifications.title") }}{% endblock title %}
{% block body %}
{% for notification in notifications %}
{{ notification.contents }}
{% endfor %}
{% endblock body %}