{% extends "base.jinja" %}
{% block title %}{{ gettrans(lang=language, key="review_run.title", game=game.name, user=user.username) }}{% endblock title %}
{% block body %}
<h1>{{ gettrans(lang=language, key="review_run.heading", game=game.name, user=user.username) }}</h1>
{{ run.video | video_embed }}
{% if run.time %}
{% set dur = run.time | duration %}
{{ gettrans(lang=language, key="review_run.time", duration=dur) }}
{% endif %}
{% if run.score %}
{{ gettrans(lang=language, key="review_run.score", score=run.score) }}
{% endif %}
{{ run.description | markdown }}
<form method="POST" action="/game/{{ run.game.slug }}/category/{{ run.category.id }}/run/{{ run.id }}/verify">
    <button>{{ gettrans(lang=language, key="review_run.verify") }}</button>
</form>
<form method="POST" action="/game/{{ run.game.slug }}/category/{{ run.category.id }}/run/{{ run.id }}/reject">
    <button>{{ gettrans(lang=language, key="review_run.reject") }}</button>
</form>

{% endblock body %}