{% extends "base.jinja" %}
{% block extraheaders %}{% endblock extraheaders %}
{% block title %}run{% endblock title %}
{% block body %}
<h1>{{ user.username }}&apos;s run of {{ game.name }}</h1>
<a href="{{ run.video }}">{{ run.video }}</a>
<h2>
time: {{ run.time | duration }}
</h2>
<h2>
score: {{ run.score }}
</h2>
{{ run.description | markdown }}
{% endblock body %}