{% extends "base.jinja" %}
{% block title %}{{ gettrans(lang=language, key="run.title", game=game.name, user=user.username) }}{% endblock title %}
{% block body %}
<h1>{{ gettrans(lang=language, key="run.heading", game=game.name, user=user.username) }}</h1>
{{ run.video | video_embed }}
{% if run.time %}
{% set dur = run.time | duration %}
{{ gettrans(lang=language, key="run.time", duration=dur) }}
{% endif %}
{% if run.score %}
{{ gettrans(lang=language, key="run.score", score=run.score) }}
{% endif %}
{{ run.description | markdown }}
{% if run.status == 1 %}
{{ gettrans(lang=language, key="status.approved") }}
{% elif run.status == 0 %}
{{ gettrans(lang=language, key="status.pending") }}
{% else %}
{{ gettrans(lang=language, key="status.denied") }}
{% endif %}
{% endblock body %}