{% extends "base.jinja" %}
{% block extraheaders %}{% endblock extraheaders %}
{% block title %}manage your account{% endblock title %}
{% block body %}
<h2>change profile info</h2>
{{ __tera_context }}
<form method="post" action="/settings">
  <table>
    <tr>
      <td><label for="username">username</label></td>
      <td><input name="username" id="username" type="username" value="{{ user.username }}" maxlength="16" />
      </td>
    </tr>
    <tr>
      <td><label for="biography">biography</label></td>
      <td><textarea name="biography" id="biography" maxlength="4000" cols="64" rows="10">{{ user.biography }}</textarea>
      </td>
    </tr>
  </table>
  <div>
    <button>update</button>
  </div>
</form>

<table>
  <tr>
    <form method="post" action="/settings/pfp" enctype="multipart/form-data" id="pfp-form">
      <td><label for="pfp">profile picture</label></td>
      <td><input name="pfp" id="pfp" type="file" accept=".png,image/png"
          onchange="document.getElementById('pfp-form').submit();" /></td>
      <noscript>
        <td><button>send!</button></td>
      </noscript>
    </form>
    {% if user.pfp_ext %}
    <form method="post" action="/settings/pfp/delete">
      <td><button>delete profile picture</button></td>
    </form>
    <td><img src="{{ cdn_url }}/customfiles/users/{{ user.id }}/pfp.png" /></td>
    {% endif %}
  </tr>

  <tr>
    <form method="post" action="/settings/banner" enctype="multipart/form-data" id="banner-form">
      <td><label for="banner">banner</label></td>
      <td><input name="banner" id="banner" type="file" accept=".png,image/png"
          onchange="document.getElementById('banner-form').submit();" /></td>
      <noscript>
        <td><button>send!</button></td>
      </noscript>
    </form>
    {% if user.banner_ext %}
    <form method="post" action="/settings/banner/delete">
      <td><button>delete banner</button></td>
    </form>
    <td><img src="{{ cdn_url }}/customfiles/users/{{ user.id }}/banner.png" /></td>
    {% endif %}
  </tr>

  <tr>
    <form method="post" action="/settings/stylesheet" enctype="multipart/form-data" id="css-form">
      <td><label for="stylesheet">custom stylesheet</label></td>
      <td><input name="stylesheet" id="stylesheet" type="file" accept=".css,.txt,text/css"
          onchange="document.getElementById('css-form').submit();v" /></td>
      <noscript>
        <td><button>send!</button></td>
      </noscript>
    </form>
    {% if user.has_stylesheet %}
    <form method="post" action="/settings/stylesheet/delete">
      <td><button>delete custom stylesheet</button></td>
    </form>
    {% endif %}
  </tr>
</table>


<details>
  <summary>change email (currently <code>{{ user.email }}</code>)</summary>
  <form method="post" action="/settings/email">
    <table>
      <tr>
        <td><label for="new_email">new email</label></td>
        <td><input name="new_email" id="new_email" type="email" maxlength="255" />
        </td>
      </tr>
      <tr>
        <td><label for="password">password</label></td>
        <td><input name="password" id="password" type="password" />
        </td>
      </tr>
    </table>
    <input name="old_email" id="email" value="{{ user.email }}" hidden />
    <div>
      <button>change</button>
    </div>
  </form>
</details>

<details>
  <summary>change password</summary>
  <form method="post" action="/settings/password">
    <input name="email" id="email" type="email" value="{{ user.email }}" hidden />
    <table>
      <tr>
        <td><label for="old_password">old password</label></td>
        <td><input name="old_password" id="old_password" type="password" />
        </td>
      </tr>
      <tr>
        <td><label for="new_password">new password</label></td>
        <td><input name="new_password" id="new_password" type="password" />
        </td>
      </tr>
    </table>
    <div>
      <button>change</button>
    </div>
  </form>
</details>
{% endblock body %}