{% extends "base.jinja" %}
{% block title %}{{ gettrans(lang=language, key="settings.title") }}{% endblock title %}
{% block extraheaders %}
<script src="{{ static_url }}/page-scripts/settings.js"></script>
{% endblock extraheaders %}
{% block body %}
{% set userlinks = getuserlinks(user=user) %}
<h1>{{ gettrans(lang=language, key="settings.heading") }}</h1>
<form method="post" action="{{ root_url }}/settings">
  <table>
    <tr>
      <td><label for="username">{{ gettrans(lang=language, key="settings.username") }}</label></td>
      <td><input name="username" id="username" type="username" value="{{ user.username }}" maxlength="16" />
      </td>
    </tr>
    <tr>
      <td><label for="biography">{{ gettrans(lang=language, key="settings.biography") }}</label></td>
      <td><textarea name="biography" id="biography" maxlength="4000" cols="64" rows="10">{{ user.biography }}</textarea>
      </td>
    </tr>

  </table>
  <details>
  <summary>{{ gettrans(lang=language, key="settings.language.summary") }}</summary>
  <table class="outlines-collapse">
  <tr class="outlines-collapse">
  <td class="outlines-collapse">
  <input type="radio" id="unset" name="language" value="unset" checked>
  <label for="unset">{{ gettrans(lang=language, key="settings.language.unset") }}</label>
  </td>
    {% for language in languages %}
    <td class="outlines-collapse">
      <input type="radio" id="language-select-{{ language.code }}" name="language" value="{{ language.code }}">
      <label for="language-select-{{ language.code }}">{{ language.name }}</label>
     </td>
    {% endfor %}
   </table>
  </tr>
  </details>
  <div>
    <button>{{ gettrans(lang=language, key="settings.language.update") }}</button>
  </div>
</form>

<div class="settings-files">
  <div class="settings-files-pfp">
    <form method="post" action="{{ root_url }}/settings/pfp" enctype="multipart/form-data" id="pfp-form">
      <td><label for="pfp">{{ gettrans(lang=language, key="settings.pfp.label") }}</label></td>
      <td><input name="pfp" id="pfp" type="file" accept=".png,.jpg,.jpeg,.webp,image/png,image/jpg,image/jpeg,image/webp" /></td>
      <noscript>
        <td><button>{{ gettrans(lang=language, key="settings.pfp.submit") }}</button></td>
      </noscript>
    </form>
    {% if user.pfp %}
    <form method="post" action="{{ root_url }}/settings/pfp/delete">
      <td><button>{{ gettrans(lang=language, key="settings.pfp.delete") }}</button></td>
    </form>
    <td><img src="{{ userlinks.pfp_url }}" /></td>
    {% endif %}
  </div>

  <div class="settings-files-banner">
    <form method="post" action="{{ root_url }}/settings/banner" enctype="multipart/form-data" id="banner-form">
      <td><label for="banner">{{ gettrans(lang=language, key="settings.banner.label") }}</label></td>
      <td><input name="banner" id="banner" type="file" accept=".png,.jpg,.jpeg,.webp,image/png,image/jpg,image/jpeg,image/webp" /></td>
      <noscript>
        <td><button>{{ gettrans(lang=language, key="settings.banner.submit") }}</button></td>
      </noscript>
    </form>
    {% if user.banner %}
    <form method="post" action="{{ root_url }}/settings/banner/delete">
      <td><button>{{ gettrans(lang=language, key="settings.banner.delete") }}</button></td>
    </form>
    <td><img src="{{ userlinks.banner_url }}" /></td>
    {% endif %}
  </div>

  <div class="settings-files-stylesheet">
    <form method="post" action="{{ root_url }}/settings/stylesheet" enctype="multipart/form-data" id="css-form">
      <td><label for="stylesheet">{{ gettrans(lang=language, key="settings.css.label") }}</label></td>
      <td><input name="stylesheet" id="stylesheet" type="file" accept=".css,.txt,text/css" /></td>
      <noscript>
        <td><button>{{ gettrans(lang=language, key="settings.css.submit") }}</button></td>
      </noscript>
    </form>
    {% if user.stylesheet %}
    <iframe src="{{ userlinks.stylesheet_url }}" width="400" height="400"></iframe>
    <form method="post" action="{{ root_url }}/settings/stylesheet/delete">
      <td><button>{{ gettrans(lang=language, key="settings.css.delete") }}</button></td>
    </form>
    {% endif %}
  </div>
</div>


<details>
  <summary>{{ gettrans(lang=language, key="settings.email.summary") }}</summary>
  <code>{{ user.email }}</code>
  <form method="post" action="{{ root_url }}/settings/email">
    <table>
      <tr>
        <td><label for="new_email">{{ gettrans(lang=language, key="settings.email.new") }}</label></td>
        <td><input name="new_email" id="new_email" type="email" maxlength="255" />
        </td>
      </tr>
      <tr>
        <td><label for="password">{{ gettrans(lang=language, key="settings.email.password") }}</label></td>
        <td><input name="password" id="password" type="password" />
        </td>
      </tr>
    </table>
    <input name="old_email" id="email" value="{{ user.email }}" hidden />
    <div>
      <button>{{ gettrans(lang=language, key="settings.email.submit") }}</button>
    </div>
  </form>
</details>

<details>
  <summary>{{ gettrans(lang=language, key="settings.password.summary") }}</summary>
  <form method="post" action="{{ root_url }}/settings/password">
    <input name="email" id="email" type="email" value="{{ user.email }}" hidden />
    <table>
      <tr>
        <td><label for="old_password">{{ gettrans(lang=language, key="settings.password.old") }}</label></td>
        <td><input name="old_password" id="old_password" type="password" />
        </td>
      </tr>
      <tr>
        <td><label for="new_password">{{ gettrans(lang=language, key="settings.password.new") }}</label></td>
        <td><input name="new_password" id="new_password" type="password" />
        </td>
      </tr>
    </table>
    <div>
      <button>{{ gettrans(lang=language, key="settings.password.change") }}</button>
    </div>
  </form>
</details>
{% endblock body %}