{% extends "base.jinja" %}
{% block extraheaders %}{% endblock extraheaders %}
{% block title %}sign up{% endblock title %}
{% block body %}
<form method="post">
<div>
    <label for="email">email</label>
    <input name="email" id="email" type="email" />
  </div>
  <div>
    <label for="username">username</label>
    <input name="username" id="username" />
  </div>
  <div>
    <label for="password">password</label>
    <input name="password" id="password" type="password" />
  </div>
  <div>
    <button>Sign Up</button>
  </div>
</form>
{% endblock body %}