{% extends "base.jinja" %}
{% block extraheaders %}{% endblock extraheaders %}
{% block title %}{{ user.username }}{% endblock title %}
{% block body %}
{{ user.username }}
<br>
{{ __tera_context }}
{% endblock body %}